version: "3.9"

services:
  db:
    image: mysql:8.4
    container_name: ledger-mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: ledgerdb
      MYSQL_USER: ledgeruser
      MYSQL_PASSWORD: ledgerpass
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql
      - ./sql:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-uroot", "-prootpassword"]
      interval: 5s
      timeout: 5s
      retries: 10

  api:
    build: .
    container_name: ledger-api
    restart: always
    env_file:
      - .env
    ports:
      - "3000:3000"
    depends_on:
      db:
        condition: service_healthy
    command: npm start

    
volumes:
  db_data: